<div id="root"><%- reactOutput %></div>
<script type="text/javascript">
   window.__state_messages__ = <%- __state_messages__ %>;
</script>
<script type="text/javascript" src="/client.bundle.js"></script>
