<html>
<head>
    <title>Isomorphic chat via ReactJS</title>
    <link rel="icon" href="favicon.ico">
    <meta charset="UTF-8">
    <meta name="description" content="Isomorphic web chat application built with React, Docker Cloud, MongoDB and Redis.">
    <meta name="keywords" content="react,isomorphic,universal,javascript,koa,mongodb,redis,docker,cloud">
    <meta name="author" content="Ovidiu Bute">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h3>Isomorphic React chat</h3>
<%- body %>
</body>
</html>
